body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
.img-slider{
    width:600px;
    height:400px;
    position:relative;
}
  img{
    width: 600px;
    height: 400px;
  }
  .visible{
    display: block;
  }
  .hidden{
    display: none;
  }